# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Database files
*.db
*.sqlite3

# macOS
.DS_Store

# Logs
*.log

# Flask cache
instance/
.cache/

# VS Code
.vscode/

# Deployment files
*.env
.env.*

# Node / frontend (if added later)
node_modules/
dist/
build/
